body {
  /*
  background-image: url(assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  background: url(./assets/background/bg-mobile.jpg) no-repeat top center /
    cover;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: auto;
}

#profile {
  margin-top: 56px;
  border: 1px solid red;
}

#img1 {
  border: 1px solid black;
  align-items: center;
  display: flex;
  height: 100px;
  margin-top: 24px;
  margin-left: 124px;
}

#username {
  color: white;
  margin-left: 144px;
  margin-top: 8px;
  font-size: 16px;
  font-family: Poppins, Mono;
}